<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>城镇预报数据查询</title>
</head>
<body>
<h3>城镇预报数据查询</h3>
<form id="cityfcsearch_search" method="post">
    名称:<input type="text" class="form-control" id="cname_input" placeholder="请输入站点名称">
    </br>
    经度:<input type="text" class="form-control" id="lng_input" placeholder="请输入经度">
    </br>
    纬度:<input type="text" class="form-control" id="lat_input" placeholder="请输入纬度">
    </br>
    年:<input type="text" class="form-control" id="year_input" placeholder="请输入年(YYYY)">
    </br>
    月:<input type="text" class="form-control" id="month_input" placeholder="请输入月(MM)">
    </br>
    日:<input type="text" class="form-control" id="day_input" placeholder="请输入日(DD)">
    </br>
    时:<input type="text" class="form-control" id="hour_input" placeholder="请输入时(HH)">
    </br>
    要素:<input type="text" class="form-control" id="elem_input" placeholder="请输入要素(参考ElemCityFC)">
    </br>
    <button type="button" class="btn btn-info btn-block" id="btncommit_search">提交</button>
</form>
<div>
    提交结果:
    <div class="form-control" id="search_result">
    这里显示查询结果
    </div>
</div>

<script src="#springUrl('')/static/js/lib/jquery-1.11.2.min.js"></script>
<script src="#springUrl('')/static/js/lib/bootstrap.min.js"></script>
<!--<script charset="utf-8" src="http://map.qq.com/api/js?v=2.exp"></script>-->
<script src="#springUrl('')/static/js/stationcityfc.js"></script>
</body>
</html>