<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE configuration
                PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<mappers>
		<!--<mapper resource="sqlmap.mybatis/mapper/StationInfoSurfMapper.xml"/>-->
		<!--<mapper resource="sqlmap.mybatis/mapper/AirPortInfoSurfMapper.xml"/>-->
		<!--<mapper resource="sqlmap.mybatis/mapper/TyphVolcaMapper.xml"/>-->
		<!--<mapper resource="sqlmap.mybatis/mapper/SecurityMapper.xml"/>-->
		<!--<mapper resource="sqlmap.mybatis/mapper/AQIDataMapper.xml"/>-->
		<mapper resource="sqlmap.mybatis/mapper/RadarCloudInfoMapper.xml"/>
		<mapper resource="sqlmap.mybatis/mapper/OriginalData.xml"/>
	</mappers>
</configuration>